*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.car_box1 {
    width: 304px;
    height: 388px;
    background-color: #ffffff;   
    border-radius: 12px;         
    padding: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section2_div{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.car_box-div1 {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.car_box1 p {
    color: #90A3BF;
    font-size: 14px;
    margin-top: -10px;
}
.car_box1 > img {
    width: 100%;
    object-fit: contain;
}
.car_box-div1_1 {
    display: flex;
    gap: 16px;
    align-items: center;
}
.car_box-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.car_box-button button {
    background: #3563E9;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
}
.aloxida_p {
    font-size: 20px;
    margin-left: 55px;
    font-weight: 600;
    color: #90A3BF;
    margin-top: 50px;
    margin-bottom: 20px;
}
.car_button{
    margin-top: 55px;
    width: 128px;
    height: 38px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #3563E9;
    cursor: pointer;
    margin-left: 45.4%;
    
}